
<h1> You are in a Private Area</h1>

<a href="/becomeServiceProvider">Become a service provider</a>
<a href="/logout">Logout</a>
<br/>
<br/>
<div>
  <h3>Search a Service Provider</h3>
  <form method="POST" action="/Employee/search">
    <input type="text" name="search" style="margin-right: 30px;" placeholder="search by Name or Region">
    <input type="submit" value="Search">
  </form>
</div>
