<h1>Become Employee</h1>
<form method="POST" action="/employee">
  <!-- send logged user -->
  <input type="text" name="workingRegion" placeholder="City">
  <input type="submit" value="submit">
</form>