<script src='https://www.google.com/recaptcha/api.js'></script>

<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="text" name="name"  placeholder="Zion">
  <input type="email" name="email"  placeholder="zion@zerg.sc" >
  <input type="password" name="password"  placeholder="strong password" >
  <div class="g-recaptcha" data-sitekey="6LftHiATAAAAAOtpf2LeVuK6xyXevGHSYqk-DYme"></div>
  <br/>
  <input type="submit" value="submit">
</form>